@{
    ViewData["Title"] = "Home Page";
      Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}

<div class="admin" ng-app="admin">
    <div class="main-left">
      <div class="menus">
        <div class="menus-header">
          <img id="avatar" src="https://i.pinimg.com/originals/18/99/07/1899072ff62e9455aed4c53be5fe9654.png"/>
          <div class="user-name">Chandra Sanjaya Wijaya</div>
          <div class="user-job">Administrator</div>
        </div>
       <div class="menus-body">
          <ul>
          <li ui-sref="perusahaan" ><img src="/images/src/Iconfeather-home.png"/><i class="menu-text">Perusahaan</i></li>
          <li ui-sref="karyawan" ><img src="/images/src/Iconfeather-home.png"/><i class="menu-text">Karyawan</i></li>
          <li ui-sref="pelanggaran-baru" ><img src="/images/src/Iconfeather-home.png"/><i class="menu-text">Add Pelanggaran</i></li>
        </ul>
        <div class="close-menu" id="close-menu"><img id="close-icon" src="/images/src/Icon ionic-md-arrow-back.png"/></div>
       </div>
      </div>             
    </div>

     <div class="main-right">
        <ui-view></ui-view>
    </div>
</div>

