@{
ViewData["Title"] = "Home Page";
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin">
  <div class="main-left">
    <div class="menus">
      <div class="menus-header">
        <img id="avatar" src="/images/src/noimage.png" />
        <div class="user-name" id="userName"></div>
        <div class="user-job" id="role"></div>
      </div>
      <div class="menus-body">
        <ul>
          <li ui-sref-active="current" ui-sref="home"><img src="/images/src/Iconfeather-home.png" /><i class="menu-text">Home</i></li>
          <li ui-sref-active="active" ui-sref="periode"><img src="/images/src/periode.png" /><i class="menu-text">Periode</i></li>
          <li ui-sref-active="active" ui-sref="jenis"><img src="/images/src/JenisPelanggaran.png" /><i class="menu-text">Jenis Pelanggaran</i>
          </li>
          <li ui-sref-active="active" ui-sref="perusahaan"><img src="/images/src/perusahaan.png" /><i class="menu-text">Perusahaan</i></li>
          <li ui-sref-active="active" ui-sref="karyawan"><img src="/images/src/karyawan.png" /><i class="menu-text">Karyawan</i></li>
          <li ui-sref-active="active" ui-sref="pelanggaran"><img src="/images/src/TambahPelanggaran.png" /><i class="menu-text">Pelanggaran</i></li>
        </ul>
        <div class="close-menu" id="close-menu">
          <img id="close-icon" src="/images/src/Icon ionic-md-arrow-back.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="main-right">
    <ui-view></ui-view>
  </div>
</div>