@{
    ViewData["Title"] = "Home Page";
      Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}

<div class="admin">
    <div class="main-left">
      <div class="menus">
        <div class="menus-header">
          <img id="avatar" src="https://i.pinimg.com/originals/18/99/07/1899072ff62e9455aed4c53be5fe9654.png"/>
          <div class="user-name">Chandra Sanjaya Wijaya</div>
          <div class="user-job">Administrator</div>
        </div>
       <div class="menus-body">
          <ul>
          <li><img src="/images/src/Iconfeather-home.png"/><i class="menu-text">Data Perusahaan</i></li>
        </ul>
        <div class="close-menu" id="close-menu"><img id="close-icon" src="/images/src/Icon ionic-md-arrow-back.png"/></div>
       </div>
      </div>             
    </div>

     <div class="main-right">
     <div class="header">
      <strong>Data Perusahaan</strong><i></i>
     </div>

      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
  </table>

    </div>

  
</div>

