<div class="profile">
    <div class="profile-biodata">
        <strong class="header-title">PROFILE KARYAWAN</strong>
        <div class="profile-biodata-body">
            <div class="photo">
                <div class="photo-body">
                    <img id="photo" ng-model="model.photo" ng-src="images/profiles/{{model.photo}}" />
                </div>
            </div>
            <div class="biodata-data">
                <div class="form-info-group">
                    <div class="label">Nama</div>
                    <div class="nilai">{{model.namaKaryawan}}</div>
                </div>
                <div class="form-info-group">
                    <div class="label">Jabatan</div>
                    <div class="nilai">{{model.perusahaanKaryawan.jabatan}}</div>
                </div>
                <div class="form-info-group">
                    <div class="label">Nama Perusahaan</div>
                    <div class="nilai">{{model.perusahaanKaryawan.perusahaan.nama}}</div>
                </div>

                <form ng-if="profile.InRole('manager') || profile.InRole('administrator')">
                    <div class="form-info-group">
                        <div class="label">Roles</div>
                        <div class="nilai">
                            <span style="margin-right:11px; font-size :12px" ng-repeat="item in helper.roles">
                                <input ng-change="onChangeRole(model,item)" type="checkbox"
                                    ng-model="item.checked">{{item.role}}</span>
                        </div>
                    </div>
                </form>

            </div>

            <div class="point">
                <div class="point-title">Poin</div>
                <div class="chart">
                    <canvas id="chartPoint"></canvas>
                </div>
            </div>

        </div>

    </div>
    <div class="profile-grafik">
        <strong class="header-title">Info</strong>
        <button class="btn btn-success" data-toggle="modal" data-target="#modalRiwayat">Riwayat Kerja</button>
    </div>
    <div class="profile-data">
        <strong class="header-title">DAFTAR PELANGGARAN</strong>
        <div class="profile-data-date">
            <div class="form-info-group">
                <div class="label">Bulan</div>
                <div class="nilai">
                    <select class="form-control" style="min-width: 250px;"
                        ng-options="bln as bln.name for bln in helper.bulans" ng-model="bulan">
                    </select>
                </div>
            </div>
            <div class="form-info-group">
                <div class="label">Tahun</div>
                <div class="nilai"> <select class="form-control" style="min-width: 150px;"
                        ng-options="thn as thn for thn in helper.tahuns()" ng-model="tahun">
                    </select>
                </div>
            </div>
        </div>
        <div class="vertical-scroll" style="height: 70vh;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Level</th>
                        <th>Pelanggaran</th>
                        <th style="max-width: 100px;">Pengurangan</th>
                        <th style="max-width: 50px;">Bukti</th>
                    </tr>
                </thead>
                <tbody class="vertical-scroll">
                    <tr ng-repeat="item in model.pelanggarans |filter : myFilter(bulan, tahun)">
                        <td>{{item.tanggal| date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>{{item.jenispelanggaran.level.level}}</td>
                        <td>{{item.jenispelanggaran.jenispelanggaran}}</td>
                        <td class="text-center">{{item.karyawan}}</td>
                        <td class="text-center"><i class="fa fa-list text-info" data-toggle="modal" data-target="#bukti"
                                ng-click="selectBukti(item.files)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="modal fade" id="bukti" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bukti Pelanggaran</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="buktishow" id="filePanel">
                    <div></div>
                    <div class="dropBox" id="imgPelanggaran">
                        <img id="picture" height="100%" width="100%" alt="">
                        <video id="myvideo" height="100%" width="100%" controls>
                        </video>
                    </div>
                    <div class="files">
                        <div class="thumb" ng-repeat="file in selectedFiles">
                            <img ng-src="/bukti/thumbs/{{file.thumb}}" ng-click="selectFile(file)">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalRiwayat" tabindex="-1" role="dialog" aria-labelledby="modalRiwayat" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Riwayat Kerja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="buktishow" id="filePanel">
                    <div class="vertical-scroll" style="height: 70vh;">
                        <table class="table table-hover" datatable="ng" dt-options="showCase.dtOptions"
                            dt-column-defs="showCase.dtColumnDefs">
                            <thead>
                                <tr>
                                    <th>Nama Perusahaan</th>
                                    <th>Jabatan</th>
                                    <th>Mulai</th>
                                    <th>Hingga</th>
                                </tr>
                            </thead>
                            <tbody class="vertical-scroll">
                                <tr ng-repeat="item in model.perusahaans">
                                    <td>{{item.perusahaan.nama}}</td>
                                    <td>{{item.jabatan}}</td>
                                    <td>{{helper.toDate(item.mulaiKerja) | date:'dd-MM-yyyy'}}
                                    </td>
                                    <td>
                                        <span
                                            ng-if="item.selesaiKerja">{{helper.toDate(item.selesaiKerja)| date:'dd-MM-yyyy'}}</span>
                                        <span ng-if="!item.selesaiKerja">Sekarang</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>