<div class="profile">
    <div class="profile-biodata">
        <h5>PROFILE</h5>
        <div class="profile-biodata-body">
            <img
                src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            <hr />
            <div class="biodata-data">
                <div class="form-info-group">
                    <div class="label">Nama</div>
                    <div class="nilai">Chandra Witjaksana Selalu</div>
                </div>
                <div class="form-info-group">
                    <div class="label">Jabatan</div>
                    <div class="nilai">Driver</div>
                </div>
                <div class="form-info-group">
                    <div class="label">Nama Perusahaan</div>
                    <div class="nilai">Chandra Electic</div>
                </div>

            </div>

            <div class="point">

            </div>

        </div>

    </div>
    <div class="profile-grafik">
        <h5>GRAFIK</h5>
    </div>
    <div class="profile-data">
        <h5>DAFTAR PELANGGARAN</h5>
        <div class="profile-data-date">
            <div class="form-info-group">
                <div class="label">Bulan</div>
                <div class="nilai">
                    <select class="form-control">
                        <option>Januari</option>
                        <option>Februari</option>
                        <option>Maret</option>
                    </select>
                </div>
            </div>

            <div class="form-info-group">
                <div class="label">Tahun</div>
                <div class="nilai"> <select class="form-control">
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                    </select> </div>
            </div>
        </div>

        <hr />

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>