<div class="pelanggaran">
    <div class="user-bg">
        <div class="search">
            <input class="form-control" style="margin-right: 3px;" ng-model="search" />
            <button class="btn btn-danger">Search</button>
        </div>
        <div class="users vertical-scroll">
            <div class="user" ng-class="{'user-selected':item.userSelect}" ng-repeat="item in datas | filter : search"
                id="user{{item.idkaryawan}}" ng-click="selectUser(item)">
                <div class="userbody">
                    <img src="/images/profiles/{{item.photo}}" alt="">
                    <div class="user-body">
                        <div class="form-info-group">
                            <div class="label">Nama</div>
                            <div class="nilai">{{item.namakaryawan}}</div>
                        </div>
                        <div class="form-info-group">
                            <div class="label">Jabatan</div>
                            <div class="nilai">{{item.jabatan}}</div>
                        </div>
                        <div class="form-info-group">
                            <div class="label">Nama Perusahaan</div>
                            <div class="nilai">{{item.perusahaan.namaperusahaan}}</div>
                        </div>
                    </div>
                </div>
                <form class="user-input" ng-submit="save(item, files)">
                    <select class="form-control" ng-model="item.selectedJenis"
                        ng-options="level as level.level for level in datajenis">
                    </select>
                    <select class="form-control" ng-model="item.jenis"
                        ng-options="itemName as itemName.jenispelanggaran for itemName in item.selectedJenis.datas">
                    </select>
                    <div class="user-input-btns">
                        <button type="submit" class="btn btn-success"
                            ng-disabled="!files ||!item.jenis || files.length<=0"> <i
                                class="fa fa-save text-white"></i></button>
                        <button class="btn btn-warning" ng-click="cancelUser(item)"> <i
                                class="fa fa-broom text-white"></i></button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="add-pelanggaran" id="filePanel">
        <div class="dropBox" id="imgPelanggaran">
            <video id="myVideo" controls>
            </video>
        </div>
        <input id="fileInput" type="file" multiple ng-files="getFiles($files)">
        <div class="message" ng-show="!files">
            <button id="btnAddFile" class="btn btn-outline-warning">Click / Drop Files Here ..!</button>
        </div>


        <div class="files">
            <div class="thumb" ng-repeat="item in files">
                <i class="fa fa-times" ng-click="removeFile(item)"></i>
                <img ng-src="{{item.thumb}}" ng-click="selectImage(item)">
            </div>
        </div>

    </div>
</div>