<div class="pelanggaran">
    <div class="user-bg">
        <div class="search">
            <input class="form-control" />
            <button>Search</button>
        </div>
        <div class="users" ng-repeat="items in [1,2,3]">
            <div class="user">
                <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <div class="user-body">
                    <div class="form-info-group">
                        <div class="label">Nama</div>
                        <div class="nilai">Chandra Witjaksana Selalu</div>
                    </div>
                    <div class="form-info-group">
                        <div class="label">Jabatan</div>
                        <div class="nilai">Driver</div>
                    </div>
                    <div class="form-info-group">
                        <div class="label">Nama Perusahaan</div>
                        <div class="nilai">Chandra Electic</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="add-pelanggaran">
        <h2>Upload</h2>
    </div>
</div>