<div class="perusahaan">
    <div class="perusahaan-baru " ng-class="{hidden: !addItem}">
        <div class="header">
            <strong class="header-title">Form Perusahaan</strong><i></i>
        </div>
        <div class="logo" id="logo">
            <input id="fileInput" type="file" ng-files="getPhoto($files, model)" hidden />
            <div class="logo-body">
                <img id="photo" ng-src="/images/logo/{{model.logo}}" />
            </div>
        </div>
        <div class="data-body">
            <form ng-submit="save(model)">
                <div class="form-info-group">
                    <div class="label">Nama Perusahaan</div>
                    <div class="nilai"><input ng-model="model.namaperusahaan" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-info-group">
                    <div class="label">Direktur</div>
                    <div class="nilai"><input ng-model="model.direktur" type="text" class="form-control" required></div>
                </div>
                <div class="form-info-group">
                    <div class="label">Kontak</div>
                    <div class="nilai"><input ng-model="model.kontakdirektur" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-info-group">
                    <div class="label">Email</div>
                    <div class="nilai"><input ng-model="model.emaildirektur" type="email" class="form-control" required>
                    </div>
                </div>
                <div class="form-info-group">
                    <div class="label">Alamat</div>
                    <div class="nilai"><textarea id="alamatPerusahaan" ng-model="model.alamat" type="text"
                            class="form-control" required></textarea>
                    </div>
                </div>
                <div class="btn-option">
                    <button class="btn btn-success">
                        <i class="fa fa-save" ng-show="!isBusy"></i>
                        <i class="fa fa-spinner fa-spin" ng-show="isBusy"></i>
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="newItem()">
                        <i class="fa fa-broom text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="data-perusahaan">
        <div class="header">
            <strong class="header-title">Data Perusahaan</strong><i></i>
            <div class="add-menu" id="close-menu" ng-click="newItem()"><i class="fa fa-plus"></i></div>
        </div>
        <table class="table table-hover" datatable="ng" dt-options="showCase.dtOptions"
            dt-column-defs="showCase.dtColumnDefs">
            <thead>
                <tr>
                    <th>Perusahaan</th>
                    <th>Direktur</th>
                    <th>Telepon</th>
                    <th class="tright"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in datas" ng-click="select(data)" ng-click="addItem=true" data-toggle="tooltip"
                    data-placement="bottom" title="Click Untuk Mengedit Data">
                    <td valign="center">{{data.namaperusahaan}}</td>
                    <td>{{data.direktur}}</td>
                    <td>{{data.kontakdirektur}}</td>
                    <td class="tright">
                        <button data-toggle="tooltip" data-placement="bottom" title="Click Untuk Melihat Detail"
                            class="btn btn-info" ui-sref="perusahaan-detail({id:data.idperusahaan})">
                            <i class="fa fa-list"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>