@import "./variable";

main {
    height: 100%;
    width: 100%;
    grid-row: 2/3;
}

.close-menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @extend %box-border-in;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.close-menu:hover {
    background: #970101;
    box-shadow: inset 5px 5px 10px #3c0000, inset -5px -5px 10px #f20202;
    transition: box-shadow 200ms ease-in-out;
}

.add-menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @extend %box-border-out;
    background: #62a000;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.add-menu:hover {
    background: #62a000;
    @extend %box-border-in;
    border-radius: 50%;
    transition: box-shadow 200ms ease-in-out;
}
.header {
    color: $color;
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
}

.admin {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    color: black;

    .main-left {
        position: relative;
        grid-column: 1/2;
        @extend %box-border-out;
        width: 220px;
        height: 100%;
        .menus {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 3fr;
            .menus-header {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                grid-row: 1/2;
                img {
                    margin: 10px;
                    width: 40%;
                    height: 50%;
                    @extend %box-border-out;
                    border-radius: 50%;
                }
                .user-name {
                    margin-top: 15px;
                    font-size: 15px;
                    color: $color;
                    text-decoration: underline;
                    font-weight: bold;
                }
                .user-job {
                    color: $color;
                    font-size: 10px;
                }
            }

            .menus-body {
                grid-row: 2/3;
                background: rgba(0, 34, 58, 0.59);
                @extend %box-border-out;
                border-radius: 40px 40px 0px 0px;
                padding: 10%;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                ul {
                    list-style-type: none;
                    margin: 0px;
                    margin-top: 20px;
                    padding: 0px;
                    li {
                        max-height: 32px;
                        border-radius: 0px;
                        border-bottom: 1px solid grey;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        margin: 2px;
                        margin-bottom: 20px;
                        font-size: 14px;
                        color: $color;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img {
                            margin-right: 5px;
                            max-width: 25px;
                        }
                        .menu-icon {
                            margin-right: 20px;
                            cursor: pointer;
                        }
                        .menu-text {
                            cursor: pointer;
                        }
                    }

                    li:hover {
                        border-bottom: 2px solid rgb(255, 2, 2);
                    }
                }
            }
        }
    }

    .main-right {
        height: 100%;
        grid-column: 2/3;
        padding: 2px;
        padding-left: 10px;
    }
}

.active {
    border-bottom: 2px solid rgb(255, 2, 2) !important;
    font-weight: bold;
    padding-bottom: 15px !important ;
}

.profile {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 3fr;
    grid-template-rows: auto 1fr;
    grid-gap: 5px;

    .profile-biodata,
    .profile-grafik,
    .profile-data {
        padding: 25px;
        color: $color;
        border-radius: 10px;
        background: linear-gradient(145deg, #00243ea8, #001f34a8);
        box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
    }

    .profile-biodata {
        grid-row: 1/2;
        grid-column: 1/2;
        height: 100%;
        .profile-biodata-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .photo {
                display: flex;
                width: 100%;
                justify-content: center;
                .photo-body {
                    margin-top: 10px;
                    @extend %box-border-out;
                    border-radius: 10px;
                    width: 40%;
                    height: 35% !important;
                    padding: 1px;
                    img {
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .biodata-data {
                width: 100%;
                .biodata-info-group {
                    margin-bottom: 15px;
                    .label {
                        font-size: 11px;
                        font-style: italic;
                        color: $color-dark;
                    }
                    .nilai {
                        font-size: 14px;
                    }
                }
            }

            .point {
                width: 90%;
                height: 30%;
                border-radius: 10px;
                @extend %box-border-out;
                .point-title {
                    position: absolute;
                    margin: 10px;
                }
                .chart {
                    margin: 20px;
                    canvas {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .profile-grafik {
        grid-row: 2/3;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        button {
            margin-top: 10px;
        }
    }
    .profile-data {
        grid-row: 1/3;
        grid-column: 2/3;

        .profile-data-date {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
        }
    }
}

.pelanggaran-data {
    @extend %box-border-out;
    background-color: $bg-box;
    .profile-data {
        padding: 25px;
        color: $color;
        border-radius: 10px;
        box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
        .profile-data-date {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
        }
    }
}

.form-info-group {
    margin-bottom: 6px;
    margin-right: 2px;
    .label {
        font-size: 11px;
        font-style: italic;
        color: $color-dark;
        margin-bottom: 2px;
    }
    .nilai {
        font-size: 14px;
        .check-box {
            display: flex;
            color: $color;
        }
    }
}

hr {
    border-top: 2px solid red;
    width: 100%;
}

.pelanggaran {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    @extend %box-border-out;
    background-color: $bg-box;
    .user-bg,
    .add-pelanggaran {
        width: 100%;
        height: 100%;
        color: $color;
    }

    .add-pelanggaran {
        flex-direction: column;
        display: flex;
        height: 100%;
        width: 100%;
        position: relative;
        padding: 10px;
        z-index: 1;

        .dropBox {
            height: 100%;
            width: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: flex;
            video {
                width: 100%;
                height: 80%;
                display: none;
            }
        }
        input {
            display: none;
        }
        .message {
            text-align: center;
            bottom: 30px;
            height: 100%;
            button {
                color: $color;
                padding: 20px;
            }
        }
        .files {
            bottom: 10px;
            width: 98%;
            height: 200px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            position: absolute;
            .thumb,
            video {
                padding: 5px;
                width: 100px;
                height: 100px;
                margin: 5px;
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 5px;
                background: rgba(255, 255, 255, 0.562);
                box-shadow: 1px 1px 0px #dcdcdc4d, -1px -1px 0px #d6d6d67c;
            }

            .thumb {
                position: relative;
                i {
                    display: none;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: rgb(148, 148, 148);
                }

                i:hover {
                    color: red;
                    font-size: 18px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .thumb:hover {
                width: 150px;
                height: 150px;
                i {
                    display: block;
                }
            }
            video:hover {
                width: 150px;
                height: 150px;
            }
        }
    }

    .user-bg {
        @extend %box-border-out;
        box-shadow: 10px 3px 15px #13222c79, -2px -2px 5px #92bad379;
        min-width: 300px;
        display: flex;
        padding: 15px;
        align-items: stretch;
        flex-direction: column;
        img {
            grid-row: 1/3;
        }
        .search {
            margin-bottom: 20px;
            display: flex;
            @extend %box-border-out;
            margin: 10px;
        }

        .users {
            padding: 10px;
            max-height: 80vh;
            .user {
                margin-bottom: 10px;
                padding: 15px;
                border-radius: 5px;
                @extend %box-border-out;
                .userbody {
                    display: flex;
                    flex-direction: row;
                    img {
                        @extend %box-border-out;
                        width: 100px;
                        height: 130px;
                        margin-right: 10px;
                    }
                }

                .user-input {
                    display: none;
                    width: 100%;
                    margin-top: 10px;
                }
            }

            .user-selected {
                background-color: #00243e52;
                .user-input {
                    display: block;
                    select {
                        margin-bottom: 2px;
                    }
                }
                .user-input-btns {
                    margin-top: 10px;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}

.perusahaan {
    display: flex;
    height: 100%;

    .perusahaan-baru,
    .data-perusahaan {
        border-radius: 10px;
        @extend %box-border-out;
        background-color: $bg-box;
        padding: 20px;
    }

    .perusahaan-baru {
        width: 35%;
        min-width: 300px;
        margin-right: 8px;
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5px;
            margin-top: 15px;
            width: 100%;
            height: 15%;

            .logo-body {
                @extend %box-border-out;
                border-radius: 10px;
                width: 40%;
                height: 100%;
                padding: 1px;
                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .data-body {
            padding: 20px;
            display: flex;
            flex-direction: column;
            height: 65vh;
            .btn-option {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .data-perusahaan {
        width: 100%;
    }
}

#logoPerusahaan {
    width: 100px;
    height: 100px;
}

#alamatPerusahaan {
    min-height: 100px;
}

.jenis-pelanggaran {
    height: 100%;
    @extend %box-border-out;
    background-color: $bg-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .jenis-main {
        height: 100%;
        display: grid;
        grid-template-columns: minmax(200px, 1fr) 3fr;
        .jenis-body {
            .jenis {
                margin: 15px;
                @extend %box-border-out;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .jenis-text {
                    color: $color;
                    padding: 20px;
                    width: 100%;
                    cursor: pointer;
                }
                .jenis-input {
                    display: none;
                }

                .arrow-body {
                    display: flex;
                    align-items: center;
                    .arrow {
                        background-color: rgb(216, 216, 216);
                        height: 20px;
                        width: 20px;
                        clip-path: polygon(0 0, 0% 100%, 100% 45%);
                        margin-right: 20px;
                    }
                    .remove-item {
                        display: none;
                        height: 100%;
                        background-color: rgb(216, 216, 216);
                        width: 0px;
                    }

                    .remove-item-show {
                        display: block;
                        background-color: rgb(216, 216, 216);
                        height: 62px;
                        width: 100%;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        i {
                            margin-left: 5px;
                        }
                    }

                    .arrow-show {
                        background-color: rgb(216, 216, 216);
                        transform: rotate(180deg);
                        margin-right: 0px;
                    }

                    .arrow-select {
                        background-color: rgb(255, 0, 0) !important;
                    }
                }
            }
            .jenis:hover > .arrow-body > .arrow {
                background-color: red;
                cursor: pointer;
            }

            .jenis-baru {
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .jenis-text,
                .arrow {
                    display: none;
                }

                .jenis-input {
                    padding: 20px;
                    display: block;
                    width: 100%;
                    .data-input {
                        form {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
        .detail-body {
            @extend %box-border-out;
            height: 100%;
            padding: 20px;
            margin-top: 15px;
            .detail-table {
                height: 50vh;
            }
        }
    }
}

@media only screen and (max-width: 1360px) {
    .form-info-group {
        margin-bottom: 10px;
        margin-right: 2px;
        .label {
            //font-size: 8px;
            font-style: italic;
            color: $color-dark;
        }
        .nilai {
            //font-size: 10px;
        }
    }

    .header {
        strong {
            font-size: 17px;
        }
    }

    th,
    td {
        font-size: 14px;
        padding-top: 10px;
    }
}

.optionItem {
    display: none;
    width: auto;
}
.option-show {
    display: flex;
    animation: optionItemAnimation 100ms;
    animation-fill-mode: forwards;
}

.jenis:active {
    background-color: red;
}

button {
    margin-left: 3px;
}

.tcenter {
    vertical-align: middle !important;
    text-align: center !important;
}
.tright {
    vertical-align: middle !important;
    text-align: right !important;
}

.buktishow {
    flex-direction: column;
    display: flex;
    height: 70vh;
    width: 100%;
    position: relative;
    padding: 10px;
    z-index: 1;

    .dropBox {
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        video {
            width: 100%;
            height: 80%;
            display: none;
        }
    }
    .files {
        bottom: 10px;
        width: 98%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        position: absolute;
        .thumb {
            padding: 5px;
            width: 75px;
            height: 75px;
            margin: 5px;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.562);
            box-shadow: 1px 1px 0px #dcdcdc4d, -1px -1px 0px #d6d6d67c;
            position: relative;
            i {
                display: none;
                position: absolute;
                right: 10px;
                top: 10px;
                color: rgb(148, 148, 148);
            }

            i:hover {
                color: red;
                font-size: 18px;
            }
            img {
                width: 100%;
                height: 100%;
            }
            video {
                width: 100%;
                height: 100%;
            }
        }

        .thumb:hover {
            width: 100px;
            height: 100px;
            i {
                display: block;
            }
        }
    }
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    height: 19px;
    width: 19px;
    margin-right: 10px;
    /* width: auto; */
}
@keyframes optionItemAnimation {
    to {
        width: auto;
    }
}

.navbar-nav {
    display: none;
}

#close-left {
    display: none;
}

@media only screen and (max-width: 500px) {
    .navbar-nav {
        display: flex;
    }
    .main-left {
        display: none;
    }
    .main-right {
        padding-left: 0px !important;
    }

    .pelanggaran {
        grid-template-columns: 1fr;
        .add-pelanggaran {
            position: relative;
            min-height: 300px;
            .dropBox {
                height: 100%;
                width: 100%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                display: flex;
                video {
                    width: 100%;
                    height: 80%;
                    display: none;
                }
            }
            input {
                display: none;
            }
            .message {
                text-align: center;
                bottom: 30px;
                height: 100%;
                button {
                    color: $color;
                    padding: 20px;
                }
            }
            .files {
                position: absolute;
                height: 100px;
                .thumb,
                video {
                    width: 50px;
                    height: 50px;
                }

                .thumb {
                    position: relative;
                    i {
                        display: none;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        color: rgb(148, 148, 148);
                    }

                    i:hover {
                        color: red;
                        font-size: 18px;
                    }
                }

                .thumb:hover {
                    width: 75px;
                    height: 75px;
                    i {
                        display: block;
                    }
                }
                video:hover {
                    width: 75px;
                    height: 75px;
                }
            }
        }

        .user-bg {
            height: 65vh;
        }
    }
    #close-left {
        display: flex;
    }

    .perusahaan {
        flex-flow: column !important;
        .perusahaan-baru {
            width: 100%;
            height: 100vh;
        }
    }
    .jenis-pelanggaran {
        padding: 5px;
        .jenis-main {
            grid-template-columns: 1fr !important;
        }
    }

    .profile {
        display: flex !important;
        flex-flow: column;
        width: 100%;
    }
}
