.close-menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #143655;
    box-shadow: inset 5px 5px 10px #081622, inset -5px -5px 10px #205688;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.close-menu:hover {
    background: #970101;
    box-shadow: inset 5px 5px 10px #3c0000, inset -5px -5px 10px #f20202;
    transition: box-shadow 200ms ease-in-out;
}

.add-menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #143655;
    box-shadow: inset 5px 5px 10px #081622, inset -5px -5px 10px #205688;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.add-menu:hover {
    background: #62a000;
    box-shadow: inset 5px 5px 10px #263d00, inset -5px -5px 10px #406800;
    transition: box-shadow 200ms ease-in-out;
}
.header {
    color: white;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.admin {
    height: 92vh;
    display: grid;
    grid-template-columns: auto 1fr;
    color: black;

    .main-left {
        position: relative;
        grid-column: 1/2;
        background: rgba(0, 34, 58, 0.59);
        box-shadow: 5px 5px 10px #a1a1a1c5, 0px 0px 10px #ffffffa4;
        width: 220px;
        height: 100%;
        .menus {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 3fr;
            .menus-header {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                grid-row: 1/2;
                img {
                    margin: 10px;
                    width: 40%;
                    height: 50%;
                    border-radius: 50%;
                    box-shadow: 1px 1px 0px white;
                }
                .user-name {
                    margin-top: 15px;
                    font-size: 15px;
                    color: white;
                    text-decoration: underline;
                    font-weight: bold;
                }
                .user-job {
                    color: white;
                    font-size: 10px;
                }
            }

            .menus-body {
                grid-row: 2/3;
                background: rgba(0, 34, 58, 0.59);
                border-radius: 40px 40px 0px 0px;
                box-shadow: -2px -2px 6px #5f7788;
                padding: 10%;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                ul {
                    list-style-type: none;
                    margin: 0px;
                    margin-top: 20px;
                    padding: 0px;
                    li {
                        border-radius: 0px;
                        border-bottom: 1px solid grey;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        margin: 2px;
                        margin-bottom: 10px;
                        font-size: 14px;
                        color: white;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img {
                            margin-right: 5px;
                            max-height: 32px;
                            max-width: 32px;
                        }
                        .menu-icon {
                            margin-right: 20px;
                        }
                    }

                    li:hover {
                        border-bottom: 2px solid rgb(255, 2, 2);
                    }
                }
            }
        }
    }

    .main-right {
        height: 100%;
        grid-column: 2/3;
        padding: 5px;
        padding-left: 20px;

        table {
            color: black;
            border-radius: 6px;
            background: linear-gradient(145deg, #f0f0f0, #ffffff);
            //box-shadow: 5px 5px 17px #354d0f, -5px -5px 17px #d3ff3b;
            padding: 10px;
            tr {
                margin-top: 10px;
                th,
                td {
                    border-top: 0.5px solid #dee2e6;
                    border-bottom: 0.5px solid grey;
                }
            }
            tr:hover {
                color: #84c125;
            }
        }
    }
}

.profile {
    height: 91vh;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 3fr;
    grid-template-rows: 3fr 2fr;
    grid-gap: 5px;

    .profile-biodata,
    .profile-grafik,
    .profile-data {
        padding: 25px;
        color: white;
        border-radius: 10px;
        background: linear-gradient(145deg, #00243ea8, #001f34a8);
        box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
    }

    .profile-biodata {
        grid-row: 1/2;
        grid-column: 1/2;
        height: 100%;
        .profile-biodata-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
            .photo {
                display: flex;
                width: 100%;
                height: 25% !important;
                justify-content: center;
                img {
                    border-radius: 5px;
                    width: 50%;
                    height: 100%;
                }
            }

            .biodata-data {
                width: 100%;
                .biodata-info-group {
                    margin-bottom: 15px;
                    .label {
                        font-size: 11px;
                        font-style: italic;
                        color: #94b4ca;
                    }
                    .nilai {
                        font-size: 14px;
                    }
                }
            }

            .point {
                width: 90%;
                height: 30%;
                border-radius: 23px;
                background: linear-gradient(145deg, #00243ea8, #001f34a8);
                box-shadow: 1px 1px 0px #00243ea8, -1px -1px 0px #00243ea8;
                .point-title {
                    position: absolute;
                    margin: 10px;
                }
                .chart {
                    margin: 20px;
                    #chartPoint {
                        width: 100%;
                    }
                }
            }
        }
    }
    .profile-grafik {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .profile-data {
        grid-row: 1/3;
        grid-column: 2/3;

        .profile-data-date {
            display: flex;
            flex-direction: row;
        }
    }
}

.form-info-group {
    margin-bottom: 15px;
    margin-right: 2px;
    .label {
        font-size: 11px;
        font-style: italic;
        color: #94b4ca;
    }
    .nilai {
        font-size: 14px;
        .check-box {
            display: flex;
            color: white;
        }
    }
}

hr {
    border-top: 2px solid red;
    width: 100%;
}

.pelanggaran {
    height: 91vh;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-gap: 5px;
    .user-bg,
    .add-pelanggaran {
        width: 100%;
        height: 100%;

        color: white;
        border-radius: 5px;
        background: linear-gradient(145deg, #00243ea8, #001f34a8);
        box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
    }

    .add-pelanggaran {
        flex-direction: column;
        display: flex;
        height: 100%;
        width: 100%;
        max-height: 91vh;
        position: relative;
        padding: 10px;
        z-index: 1;

        .dropBox {
            height: 100%;
            width: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: flex;
            video {
                width: 100%;
                height: 80%;
                display: none;
            }
        }
        input {
            display: none;
        }
        .files {
            bottom: 10px;
            width: 98%;
            height: 200px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            position: absolute;
            .thumb,
            video {
                padding: 5px;
                width: 100px;
                height: 100px;
                margin: 5px;
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 5px;
                background: rgba(255, 255, 255, 0.562);
                box-shadow: 1px 1px 0px #dcdcdc4d, -1px -1px 0px #d6d6d67c;
            }

            .thumb {
                position: relative;
                i {
                    display: none;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: rgb(148, 148, 148);
                }

                i:hover {
                    color: red;
                    font-size: 18px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .thumb:hover {
                width: 150px;
                height: 150px;
                i {
                    display: block;
                }
            }
            video:hover {
                width: 150px;
                height: 150px;
            }
        }
    }

    .user-bg {
        max-height: 91vh;
        min-width: 300px;
        display: flex;
        padding: 25px;
        align-items: stretch;
        flex-direction: column;
        img {
            grid-row: 1/3;
        }
        .search {
            margin-bottom: 20px;
            display: flex;
            border-radius: 5px;
            background-color: #00243e25;
            box-shadow: 1px 1px 0px #d6d6d656, -1px -1px 0px #d6d6d656;
            padding: 10px;
        }

        .users {
            scrollbar-width: none;
            .user {
                margin-bottom: 10px;
                padding: 10px;
                display: flex;
                flex-direction: row;
                border-radius: 5px;
                background-color: #00243e25;
                box-shadow: 1px 1px 0px #d6d6d656, -1px -1px 0px #d6d6d656;

                img {
                    width: 100px;
                    height: 120px;
                    margin-right: 10px;
                }
                .user-body {
                    .form-info-group {
                        margin-bottom: 5px;
                    }
                }
                .user-input {
                    display: none;
                    width: 100%;
                    .form-info-group {
                        margin-bottom: 5px;
                    }
                }
            }

            .user-selected {
                background-color: #00243e86;
                clip-path: polygon(1% 0%, 100% 0%, 100% 0%, 90% 10%, 100% 8%, 100% 100%, 1% 100%);
                .user-body {
                    display: none;
                }
                .user-input {
                    display: block;
                    select {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}

.perusahaan {
    display: flex;
    height: 91vh;

    .perusahaan-baru,
    .data-perusahaan {
        border-radius: 10px;
        background: linear-gradient(145deg, #00243ea8, #001f34a8);
        box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
        padding: 20px;
    }

    .perusahaan-baru {
        width: 35%;
        min-width: 300px;
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5px;
            width: 100%;
            height: 17%;

            img {
                border-radius: 10px;
                width: 40%;
                height: 100%;
                object-fit: cover;
            }
        }

        .data-body {
            padding: 20px;
            display: flex;
            flex-direction: column;
            .btn-option {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .data-perusahaan {
        width: 100%;
    }
}

#logoPerusahaan {
    width: 100px;
    height: 100px;
}

#alamatPerusahaan {
    min-height: 100px;
}

.jenis-pelanggaran {
    height: 91vh;
    background: linear-gradient(145deg, #00243ea8, #001f34a8);
    box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .jenis-main {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) 3fr;
        .jenis-body {
            .jenis {
                border-radius: 5px;
                margin: 5px;
                background-color: #001f34a8;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .jenis-text {
                    color: white;
                    padding: 20px;
                    width: 100%;
                    cursor: pointer;
                }
                .jenis-input {
                    display: none;
                }

                .arrow-body {
                    display: flex;
                    align-items: center;
                    .arrow {
                        background-color: rgb(216, 216, 216);
                        height: 20px;
                        width: 20px;
                        clip-path: polygon(0 0, 0% 100%, 100% 45%);
                        margin-right: 20px;
                    }
                    .remove-item {
                        display: none;
                        height: 100%;
                        background-color: rgb(216, 216, 216);
                        width: 0px;
                    }

                    .remove-item-show {
                        display: block;
                        background-color: rgb(216, 216, 216);
                        height: 62px;
                        width: 100%;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        i {
                            margin-left: 5px;
                        }
                    }

                    .arrow-show {
                        background-color: rgb(216, 216, 216);
                        transform: rotate(180deg);
                        margin-right: 0px;
                    }

                    .arrow-select {
                        background-color: rgb(255, 0, 0) !important;
                    }
                }
            }
            .jenis:hover > .arrow-body > .arrow {
                background-color: red;
                cursor: pointer;
            }

            .jenis-baru {
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .jenis-text,
                .arrow {
                    display: none;
                }

                .jenis-input {
                    padding: 20px;
                    display: block;
                    width: 100%;
                    .data-input {
                        form {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            button {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
        .detail-body {
            background: linear-gradient(145deg, #00243ea8, #001f34a8);
            box-shadow: 1px 1px 0px #001f34a8, -1px -1px 0px #001f34a8;
            border-radius: 10px;
            height: 100%;
            padding: 20px;
            .detail-table {
                height: 50vh;
            }
        }
    }
}

@media only screen and (max-width: 1360px) {
    .form-info-group {
        margin-bottom: 10px;
        margin-right: 2px;
        .label {
            font-size: 8px;
            font-style: italic;
            color: #94b4ca;
        }
        .nilai {
            font-size: 10px;
        }
    }

    .header {
        strong {
            font-size: 17px;
        }
    }

    th,
    td {
        font-size: 14px;
        padding-top: 10px;
    }
}

.optionItem {
    display: none;
    width: auto;
    i {
        margin-left: 10px;
    }
}
.option-show {
    display: block;
    animation: optionItemAnimation 100ms;
    animation-fill-mode: forwards;
}

.jenis:active {
    background-color: red;
}

button {
    margin-left: 3px;
}
.tcenter {
    background-color: white;
    vertical-align: middle !important;
    text-align: center !important;
}

.buktishow {
    flex-direction: column;
    display: flex;
    height: 60vh;
    width: 100%;
    position: relative;
    padding: 10px;
    z-index: 1;

    .dropBox {
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        video {
            width: 100%;
            height: 80%;
            display: none;
        }
    }
    .files {
        bottom: 10px;
        width: 98%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        position: absolute;
        .thumb {
            padding: 5px;
            width: 75px;
            height: 75px;
            margin: 5px;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.562);
            box-shadow: 1px 1px 0px #dcdcdc4d, -1px -1px 0px #d6d6d67c;
            position: relative;
            i {
                display: none;
                position: absolute;
                right: 10px;
                top: 10px;
                color: rgb(148, 148, 148);
            }

            i:hover {
                color: red;
                font-size: 18px;
            }
            img {
                width: 100%;
                height: 100%;
            }
            video {
                width: 100%;
                height: 100%;
            }
        }

        .thumb:hover {
            width: 100px;
            height: 100px;
            i {
                display: block;
            }
        }
    }
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    height: 19px;
    width: 19px;
    margin-right: 10px;
    /* width: auto; */
}

@keyframes optionItemAnimation {
    to {
        width: auto;
    }
}
