.close-menu, .add-menu:hover {
  border-radius: 6px;
  -webkit-box-shadow: inset 3px 3px 5px #13222c79, inset -2px -2px 5px #92bad379;
          box-shadow: inset 3px 3px 5px #13222c79, inset -2px -2px 5px #92bad379;
  color: white;
  border: 0px;
}

.add-menu, .admin .main-left, .admin .main-left .menus .menus-header img, .admin .main-left .menus .menus-body, .profile .profile-biodata .profile-biodata-body .photo .photo-body, .profile .profile-biodata .profile-biodata-body .point, .pelanggaran-data, .pelanggaran, .pelanggaran .user-bg, .pelanggaran .user-bg .search, .pelanggaran .user-bg .users .user, .pelanggaran .user-bg .users .user .userbody img, .perusahaan .perusahaan-baru,
.perusahaan .data-perusahaan, .perusahaan .perusahaan-baru .logo .logo-body, .jenis-pelanggaran, .jenis-pelanggaran .jenis-main .jenis-body .jenis, .jenis-pelanggaran .jenis-main .detail-body {
  -webkit-box-shadow: 3px 3px 5px #13222c79, -2px -2px 5px #92bad379;
          box-shadow: 3px 3px 5px #13222c79, -2px -2px 5px #92bad379;
  color: white;
  border: 0px;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .close-menu, .add-menu:hover {
    -webkit-box-shadow: inset 3px 3px 5px #13222c79, inset -2px -2px 5px #92bad379;
            box-shadow: inset 3px 3px 5px #13222c79, inset -2px -2px 5px #92bad379;
    color: white;
    border: 0px;
    border-radius: 0px;
  }
  .add-menu, .admin .main-left, .admin .main-left .menus .menus-header img, .admin .main-left .menus .menus-body, .profile .profile-biodata .profile-biodata-body .photo .photo-body, .profile .profile-biodata .profile-biodata-body .point, .pelanggaran-data, .pelanggaran, .pelanggaran .user-bg, .pelanggaran .user-bg .search, .pelanggaran .user-bg .users .user, .pelanggaran .user-bg .users .user .userbody img, .perusahaan .perusahaan-baru,
  .perusahaan .data-perusahaan, .perusahaan .perusahaan-baru .logo .logo-body, .jenis-pelanggaran, .jenis-pelanggaran .jenis-main .jenis-body .jenis, .jenis-pelanggaran .jenis-main .detail-body {
    -webkit-box-shadow: 3px 3px 5px #13222c79, -2px -2px 5px #92bad379;
            box-shadow: 3px 3px 5px #13222c79, -2px -2px 5px #92bad379;
    color: white;
    border: 0px;
    border-radius: 0px;
  }
}

main {
  height: 100%;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.close-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.close-menu:hover {
  background: #970101;
  -webkit-box-shadow: inset 5px 5px 10px #3c0000, inset -5px -5px 10px #f20202;
          box-shadow: inset 5px 5px 10px #3c0000, inset -5px -5px 10px #f20202;
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

.add-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #62a000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.add-menu:hover {
  background: #62a000;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

.header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  color: black;
}

.admin .main-left {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 220px;
  height: 100%;
}

.admin .main-left .menus {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
}

.admin .main-left .menus .menus-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.admin .main-left .menus .menus-header img {
  margin: 10px;
  width: 40%;
  height: 50%;
  border-radius: 50%;
}

.admin .main-left .menus .menus-header .user-name {
  margin-top: 15px;
  font-size: 15px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.admin .main-left .menus .menus-header .user-job {
  color: white;
  font-size: 10px;
}

.admin .main-left .menus .menus-body {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background: rgba(0, 34, 58, 0.59);
  border-radius: 40px 40px 0px 0px;
  padding: 10%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin .main-left .menus .menus-body ul {
  list-style-type: none;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}

.admin .main-left .menus .menus-body ul li {
  max-height: 32px;
  border-radius: 0px;
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2px;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin .main-left .menus .menus-body ul li img {
  margin-right: 5px;
  max-width: 25px;
}

.admin .main-left .menus .menus-body ul li .menu-icon {
  margin-right: 20px;
  cursor: pointer;
}

.admin .main-left .menus .menus-body ul li .menu-text {
  cursor: pointer;
}

.admin .main-left .menus .menus-body ul li:hover {
  border-bottom: 2px solid #ff0202;
}

.admin .main-right {
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 2px;
  padding-left: 10px;
}

.active {
  border-bottom: 2px solid #ff0202 !important;
  font-weight: bold;
  padding-bottom: 15px !important;
}

.profile {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 1fr) 3fr;
      grid-template-columns: minmax(300px, 1fr) 3fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  grid-gap: 5px;
}

.profile .profile-biodata,
.profile .profile-grafik,
.profile .profile-data {
  padding: 25px;
  color: white;
  border-radius: 10px;
  background: linear-gradient(145deg, #00243ea8, #001f34a8);
  -webkit-box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
          box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
}

.profile .profile-biodata {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
}

.profile .profile-biodata .profile-biodata-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.profile .profile-biodata .profile-biodata-body .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile-biodata .profile-biodata-body .photo .photo-body {
  margin-top: 10px;
  border-radius: 10px;
  width: 40%;
  height: 35% !important;
  padding: 1px;
}

.profile .profile-biodata .profile-biodata-body .photo .photo-body img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.profile .profile-biodata .profile-biodata-body .biodata-data {
  width: 100%;
}

.profile .profile-biodata .profile-biodata-body .biodata-data .biodata-info-group {
  margin-bottom: 15px;
}

.profile .profile-biodata .profile-biodata-body .biodata-data .biodata-info-group .label {
  font-size: 11px;
  font-style: italic;
  color: #74a7ce;
}

.profile .profile-biodata .profile-biodata-body .biodata-data .biodata-info-group .nilai {
  font-size: 14px;
}

.profile .profile-biodata .profile-biodata-body .point {
  width: 90%;
  height: 30%;
  border-radius: 10px;
}

.profile .profile-biodata .profile-biodata-body .point .point-title {
  position: absolute;
  margin: 10px;
}

.profile .profile-biodata .profile-biodata-body .point .chart {
  margin: 20px;
}

.profile .profile-biodata .profile-biodata-body .point .chart canvas {
  width: 100% !important;
}

.profile .profile-grafik {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile .profile-grafik button {
  margin-top: 10px;
}

.profile .profile-data {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.profile .profile-data .profile-data-date {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pelanggaran-data {
  background-color: #001d3093;
}

.pelanggaran-data .profile-data {
  padding: 25px;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
          box-shadow: 1px 1px 0px #dcdcdc, -1px -1px 0px #d6d6d6;
}

.pelanggaran-data .profile-data .profile-data-date {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-info-group {
  margin-bottom: 6px;
  margin-right: 2px;
}

.form-info-group .label {
  font-size: 11px;
  font-style: italic;
  color: #74a7ce;
  margin-bottom: 2px;
}

.form-info-group .nilai {
  font-size: 14px;
}

.form-info-group .nilai .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

hr {
  border-top: 2px solid red;
  width: 100%;
}

.pelanggaran {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  background-color: #001d3093;
}

.pelanggaran .user-bg,
.pelanggaran .add-pelanggaran {
  width: 100%;
  height: 100%;
  color: white;
}

.pelanggaran .add-pelanggaran {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px;
  z-index: 1;
}

.pelanggaran .add-pelanggaran .dropBox {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pelanggaran .add-pelanggaran .dropBox video {
  width: 100%;
  height: 80%;
  display: none;
}

.pelanggaran .add-pelanggaran input {
  display: none;
}

.pelanggaran .add-pelanggaran .message {
  text-align: center;
  bottom: 30px;
  height: 100%;
}

.pelanggaran .add-pelanggaran .message button {
  color: white;
  padding: 20px;
}

.pelanggaran .add-pelanggaran .files {
  bottom: 10px;
  width: 98%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
}

.pelanggaran .add-pelanggaran .files .thumb,
.pelanggaran .add-pelanggaran .files video {
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.562);
  -webkit-box-shadow: 1px 1px 0px #dcdcdc4d, -1px -1px 0px #d6d6d67c;
          box-shadow: 1px 1px 0px #dcdcdc4d, -1px -1px 0px #d6d6d67c;
}

.pelanggaran .add-pelanggaran .files .thumb {
  position: relative;
}

.pelanggaran .add-pelanggaran .files .thumb i {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #949494;
}

.pelanggaran .add-pelanggaran .files .thumb i:hover {
  color: red;
  font-size: 18px;
}

.pelanggaran .add-pelanggaran .files .thumb img {
  width: 100%;
  height: 100%;
}

.pelanggaran .add-pelanggaran .files .thumb:hover {
  width: 150px;
  height: 150px;
}

.pelanggaran .add-pelanggaran .files .thumb:hover i {
  display: block;
}

.pelanggaran .add-pelanggaran .files video:hover {
  width: 150px;
  height: 150px;
}

.pelanggaran .user-bg {
  -webkit-box-shadow: 10px 3px 15px #13222c79, -2px -2px 5px #92bad379;
          box-shadow: 10px 3px 15px #13222c79, -2px -2px 5px #92bad379;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pelanggaran .user-bg img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.pelanggaran .user-bg .search {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.pelanggaran .user-bg .users {
  padding: 10px;
  max-height: 80vh;
}

.pelanggaran .user-bg .users .user {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
}

.pelanggaran .user-bg .users .user .userbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pelanggaran .user-bg .users .user .userbody img {
  width: 100px;
  height: 130px;
  margin-right: 10px;
}

.pelanggaran .user-bg .users .user .user-input {
  display: none;
  width: 100%;
  margin-top: 10px;
}

.pelanggaran .user-bg .users .user-selected {
  background-color: #00243e52;
}

.pelanggaran .user-bg .users .user-selected .user-input {
  display: block;
}

.pelanggaran .user-bg .users .user-selected .user-input select {
  margin-bottom: 2px;
}

.pelanggaran .user-bg .users .user-selected .user-input-btns {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.perusahaan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.perusahaan .perusahaan-baru,
.perusahaan .data-perusahaan {
  border-radius: 10px;
  background-color: #001d3093;
  padding: 20px;
}

.perusahaan .perusahaan-baru {
  width: 35%;
  min-width: 300px;
  margin-right: 8px;
}

.perusahaan .perusahaan-baru .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  margin-top: 15px;
  width: 100%;
  height: 15%;
}

.perusahaan .perusahaan-baru .logo .logo-body {
  border-radius: 10px;
  width: 40%;
  height: 100%;
  padding: 1px;
}

.perusahaan .perusahaan-baru .logo .logo-body img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.perusahaan .perusahaan-baru .data-body {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65vh;
}

.perusahaan .perusahaan-baru .data-body .btn-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.perusahaan .data-perusahaan {
  width: 100%;
}

#logoPerusahaan {
  width: 100px;
  height: 100px;
}

#alamatPerusahaan {
  min-height: 100px;
}

.jenis-pelanggaran {
  height: 100%;
  background-color: #001d3093;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jenis-pelanggaran .jenis-main {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 1fr) 3fr;
      grid-template-columns: minmax(200px, 1fr) 3fr;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis .jenis-text {
  color: white;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis .jenis-input {
  display: none;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis .arrow-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis .arrow-body .arrow {
  background-color: #d8d8d8;
  height: 20px;
  width: 20px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 45%);
          clip-path: polygon(0 0, 0% 100%, 100% 45%);
  margin-right: 20px;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis .arrow-body .remove-item {
  display: none;
  height: 100%;
  background-color: #d8d8d8;
  width: 0px;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis .arrow-body .remove-item-show {
  display: block;
  background-color: #d8d8d8;
  height: 62px;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis .arrow-body .remove-item-show i {
  margin-left: 5px;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis .arrow-body .arrow-show {
  background-color: #d8d8d8;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 0px;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis .arrow-body .arrow-select {
  background-color: red !important;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis:hover > .arrow-body > .arrow {
  background-color: red;
  cursor: pointer;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis-baru {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis-baru .jenis-text,
.jenis-pelanggaran .jenis-main .jenis-body .jenis-baru .arrow {
  display: none;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis-baru .jenis-input {
  padding: 20px;
  display: block;
  width: 100%;
}

.jenis-pelanggaran .jenis-main .jenis-body .jenis-baru .jenis-input .data-input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jenis-pelanggaran .jenis-main .detail-body {
  height: 100%;
  padding: 20px;
  margin-top: 15px;
}

.jenis-pelanggaran .jenis-main .detail-body .detail-table {
  height: 50vh;
}

@media only screen and (max-width: 1360px) {
  .form-info-group {
    margin-bottom: 10px;
    margin-right: 2px;
  }
  .form-info-group .label {
    font-style: italic;
    color: #74a7ce;
  }
  .header strong {
    font-size: 17px;
  }
  th,
  td {
    font-size: 14px;
    padding-top: 10px;
  }
}

.optionItem {
  display: none;
  width: auto;
}

.option-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: optionItemAnimation 100ms;
          animation: optionItemAnimation 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.jenis:active {
  background-color: red;
}

button {
  margin-left: 3px;
}

.tcenter {
  vertical-align: middle !important;
  text-align: center !important;
}

.tright {
  vertical-align: middle !important;
  text-align: right !important;
}

.buktishow {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 100%;
  position: relative;
  padding: 10px;
  z-index: 1;
}

.buktishow .dropBox {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buktishow .dropBox video {
  width: 100%;
  height: 80%;
  display: none;
}

.buktishow .files {
  bottom: 10px;
  width: 98%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
}

.buktishow .files .thumb {
  padding: 5px;
  width: 75px;
  height: 75px;
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.562);
  -webkit-box-shadow: 1px 1px 0px #dcdcdc4d, -1px -1px 0px #d6d6d67c;
          box-shadow: 1px 1px 0px #dcdcdc4d, -1px -1px 0px #d6d6d67c;
  position: relative;
}

.buktishow .files .thumb i {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #949494;
}

.buktishow .files .thumb i:hover {
  color: red;
  font-size: 18px;
}

.buktishow .files .thumb img {
  width: 100%;
  height: 100%;
}

.buktishow .files .thumb video {
  width: 100%;
  height: 100%;
}

.buktishow .files .thumb:hover {
  width: 100px;
  height: 100px;
}

.buktishow .files .thumb:hover i {
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  height: 19px;
  width: 19px;
  margin-right: 10px;
  /* width: auto; */
}

@-webkit-keyframes optionItemAnimation {
  to {
    width: auto;
  }
}

@keyframes optionItemAnimation {
  to {
    width: auto;
  }
}

.navbar-nav {
  display: none;
}

#close-left {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-left {
    display: none;
  }
  .main-right {
    padding-left: 0px !important;
  }
  .pelanggaran {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .pelanggaran .add-pelanggaran {
    position: relative;
    min-height: 300px;
  }
  .pelanggaran .add-pelanggaran .dropBox {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pelanggaran .add-pelanggaran .dropBox video {
    width: 100%;
    height: 80%;
    display: none;
  }
  .pelanggaran .add-pelanggaran input {
    display: none;
  }
  .pelanggaran .add-pelanggaran .message {
    text-align: center;
    bottom: 30px;
    height: 100%;
  }
  .pelanggaran .add-pelanggaran .message button {
    color: white;
    padding: 20px;
  }
  .pelanggaran .add-pelanggaran .files {
    position: absolute;
    height: 100px;
  }
  .pelanggaran .add-pelanggaran .files .thumb,
  .pelanggaran .add-pelanggaran .files video {
    width: 50px;
    height: 50px;
  }
  .pelanggaran .add-pelanggaran .files .thumb {
    position: relative;
  }
  .pelanggaran .add-pelanggaran .files .thumb i {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #949494;
  }
  .pelanggaran .add-pelanggaran .files .thumb i:hover {
    color: red;
    font-size: 18px;
  }
  .pelanggaran .add-pelanggaran .files .thumb:hover {
    width: 75px;
    height: 75px;
  }
  .pelanggaran .add-pelanggaran .files .thumb:hover i {
    display: block;
  }
  .pelanggaran .add-pelanggaran .files video:hover {
    width: 75px;
    height: 75px;
  }
  .pelanggaran .user-bg {
    height: 65vh;
  }
  #close-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .perusahaan {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
  .perusahaan .perusahaan-baru {
    width: 100%;
    height: 100vh;
  }
  .jenis-pelanggaran {
    padding: 5px;
  }
  .jenis-pelanggaran .jenis-main {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .profile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
  }
}
/*# sourceMappingURL=admin.css.map */