/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
  font-family: "Montserrat";
  src: url(/lib/Montserrat/Montserrat-Regular.ttf);
}

.dataTables_wrapper .dataTables_length .label select, input:-webkit-autofill,
input:-webkit-autofill:hover,
input[type="search"],
input[type="search"]:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover, .select2-selection--multiple,
select:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input[type="search"]:focus,
input:-webkit-autofill:focus, .form-control, .form-control:focus, select {
  border-radius: 6px;
  -webkit-box-shadow: inset 3px 3px 5px #13222c79, inset -2px -2px 5px #92bad379;
          box-shadow: inset 3px 3px 5px #13222c79, inset -2px -2px 5px #92bad379;
  color: white;
  border: 0px;
}

.account .account-body, .btn, tr, .nav-tabs .nav-link.active {
  -webkit-box-shadow: 3px 3px 5px #13222c79, -2px -2px 5px #92bad379;
          box-shadow: 3px 3px 5px #13222c79, -2px -2px 5px #92bad379;
  color: white;
  border: 0px;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .dataTables_wrapper .dataTables_length .label select, input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input[type="search"],
  input[type="search"]:hover,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  select:-webkit-autofill,
  select:-webkit-autofill:hover, .select2-selection--multiple,
  select:-webkit-autofill:focus,
  textarea:-webkit-autofill:focus,
  input[type="search"]:focus,
  input:-webkit-autofill:focus, .form-control, .form-control:focus, select {
    -webkit-box-shadow: inset 3px 3px 5px #13222c79, inset -2px -2px 5px #92bad379;
            box-shadow: inset 3px 3px 5px #13222c79, inset -2px -2px 5px #92bad379;
    color: white;
    border: 0px;
    border-radius: 0px;
  }
  .account .account-body, .btn, tr, .nav-tabs .nav-link.active {
    -webkit-box-shadow: 3px 3px 5px #13222c79, -2px -2px 5px #92bad379;
            box-shadow: 3px 3px 5px #13222c79, -2px -2px 5px #92bad379;
    color: white;
    border: 0px;
    border-radius: 0px;
  }
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
  position: relative;
  min-height: 106vh;
}

body {
  font-family: "Montserrat", sans-serif;
  /* Margin bottom by footer height */
  background-image: url("../images/src/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 106vh;
  display: -ms-grid;
  display: grid;
  color: white;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

.brand {
  height: 100%;
  padding-right: 10px;
  background-size: cover;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  height: 100%;
}

.hidden {
  display: none;
}

.modal-content {
  background-image: url("../images/src/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
}

.modal-body,
.modal-footer,
.modal-header {
  background: #001d3093;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 85vh;
  width: 100%;
}

.account .account-body {
  width: 40%;
  padding: 30px 35px;
  background-color: #001d3093;
  vertical-align: middle;
  color: white;
}

.login-button {
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-button button,
.login-button form {
  margin: 2px;
}

#forgot-password,
#resend-email {
  color: #c4c4c4;
}

#logo-google {
  width: 30px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  h5 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .account .account-body {
    width: 60%;
    height: 60%;
  }
}

.undian {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.undian .employee {
  margin: 20px;
  padding: 20px;
  background: linear-gradient(145deg, #00274288, #0375cc73);
  -webkit-box-shadow: 2px 2px 5px #000e199f, -2px -2px 5px #003a638a;
          box-shadow: 2px 2px 5px #000e199f, -2px -2px 5px #003a638a;
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.undian .employee img {
  margin: 20px;
  border-radius: 10px;
}

.undian .employee .nama-karyawan,
.undian .employee .kode-karyawan {
  color: white;
}

.undian button {
  width: 150px;
  height: 50px;
  font-size: 20px;
}

#winner {
  font-size: 25px;
  font-weight: bold;
  color: red;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #92bad379;
          box-shadow: inset 0 0 5px #92bad379;
  border-radius: 3px;
  width: 4px;
  margin-right: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #13222c79;
          box-shadow: inset 0 0 5px #13222c79;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001d3093;
  width: 10px;
}

.vertical-scroll {
  overflow-y: auto;
  margin-right: 5px;
  padding: 5px;
}

.vertical-scroll thead th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.dataTables_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.dataTables_wrapper .dataTables_length {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.dataTables_wrapper .dataTables_length .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dataTables_wrapper .dataTables_length .label select {
  min-width: 100px !important;
}

.dataTables_wrapper .dataTables_length .label:before {
  content: "" !important;
}

.dataTables_wrapper .dataTables_length .label:after {
  content: "* * *" !important;
}

.dataTables_wrapper .dataTables_filter {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: right;
}

.dataTables_wrapper table {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.dataTables_wrapper .dataTables_paginate {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: right;
}

@media only screen and (max-width: 500px) {
  .account .account-body {
    width: 80%;
    height: 90%;
  }
  .navbar-brand span {
    display: none;
  }
  .navbar-collapse {
    margin-left: 10px;
  }
  .undian {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .undian .employee {
    width: 90%;
    height: 60%;
  }
  .undian .employee img {
    margin: 20px;
    border-radius: 10px;
  }
  .undian .employee .nama-karyawan,
  .undian .employee .kode-karyawan {
    color: white;
  }
  .undian button {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }
  h2 {
    font-size: 20px !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input[type="search"],
input[type="search"]:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover {
  background-color: transparent;
  color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  min-height: 45px;
}

.select2-selection--multiple,
select:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input[type="search"]:focus,
input:-webkit-autofill:focus {
  color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  min-height: 45px;
}

.form-control {
  background-color: transparent;
  min-height: 45px;
}

.form-control:focus {
  min-height: 45px;
  background-color: #36363675;
}

.btn {
  min-width: 50px;
  margin-left: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.table td,
.table th {
  padding: 0.5rem;
  vertical-align: middle;
  border-top: none;
  height: 45px;
}

.table th {
  border-bottom: 1px solid #ff0018 !important;
}

tr:hover {
  color: #beeb2d !important;
}

select {
  background: transparent !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
  background-image: url("../images/src/down.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px;
  min-height: 45px;
  min-width: 80px;
}

select option {
  background: #001d3093;
  color: #fff;
}

.nav-tabs {
  border-bottom: 2px solid red;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
}

.header-title {
  text-transform: uppercase;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.select2-selection__rendered {
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.select2-selection--multiple {
  border: 0px;
}

.select2-dropdown {
  background-color: #001d3093;
}

.select2-choice {
  background-color: #12122b !important;
}

.select2-container--default .select2-selection--single {
  background-color: #000;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: red;
}

.select2-container--default {
  background-color: transparent;
}

.select2-container--default .select2-selection--multiple {
  background-color: transparent;
  border: 0;
  border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: yellowgreen !important;
  border: 1px solid yellow;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin: 5px;
  padding: 0 5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid rgba(0, 0, 0, 0.199) 1px;
  outline: 0;
}
/*# sourceMappingURL=site.css.map */